page-login {
    .signinbtn {
        background-color: #089398;
        border-radius: 25px;
    }
    .signinbtn .button-inner {
        letter-spacing: 3px;
        word-spacing: 8px;
        font-family: serif;
    }
    .loginRegDiv {
        text-align: center;
    }

    .loginRegText {
        letter-spacing: 1px;
        font-size: 16px;
    }
    
    .loginRegBtn {
        color: blue;
    }
    .authError {
        color: red;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .fgtPwdSuc{
        text-align: center;
        font-size: 17px;
        margin: 16px;
        color: #0e73ae;
        letter-spacing: 0.9px;
        word-spacing: 1px;
    }
    .fgtPwdTxt {
        text-align: center;
        color: #089398;
        font-size: 17px;
        letter-spacing: 2px;
        word-spacing: 5px;
        padding: 5px;
    }
}
