
<ion-content padding>
   <div id="sign-up-form" *ngIf="isRegister && !forgotPwd && !isLogin">
    <form [formGroup]="login_signup_form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person"></ion-icon><span class="sign-up-text">Name</span></ion-label>
          <ion-input formControlName="name" [(ngModel)]="userObj.name" type="text"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="login_signup_form.get('name').hasError(validation.type) && (login_signup_form.get('name').dirty || login_signup_form.get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
        <ion-item>
          <ion-label floating><ion-icon name="mail"></ion-icon><span class="sign-up-text">Email</span></ion-label>
          <ion-input formControlName="email" [(ngModel)]="userObj.email" type="text"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="login_signup_form.get('email').hasError(validation.type) && (login_signup_form.get('email').dirty || login_signup_form.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
        <ion-item>
          <ion-label floating><ion-icon name="password"></ion-icon><span class="sign-up-text">Password</span></ion-label>
          <ion-input formControlName="password" [(ngModel)]="userObj.password" type="text"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="login_signup_form.get('password').hasError(validation.type) && (login_signup_form.get('password').dirty || login_signup_form.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
        <ion-item>
          <ion-row>
              <button ion-button (click)="authorize()" full class="signinbtn">
                    Sign Up
                  </button>
              </ion-row>
           </ion-item>
      </form>
    </div>
    <div id="login-form" *ngIf="!isRegister && !forgotPwd && isLogin">
      <form [formGroup]="login_signup_form">
          <ion-item>
            <ion-label floating><ion-icon name="mail"></ion-icon><span class="sign-up-text">Email</span></ion-label>
            <ion-input formControlName="email" [(ngModel)]="userObj.email" type="text"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="login_signup_form.get('email').hasError(validation.type) && (login_signup_form.get('email').dirty || login_signup_form.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
          <ion-item>
            <ion-label floating><ion-icon name="password"></ion-icon><span class="sign-up-text">Password</span></ion-label>
            <ion-input formControlName="password" [(ngModel)]="userObj.password" type="text"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="login_signup_form.get('password').hasError(validation.type) && (login_signup_form.get('password').dirty || login_signup_form.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
           <ion-item>
            <ion-row>
              <button ion-button (click)="authorize()" full class="signinbtn"> Sign In </button>
             </ion-row>
           </ion-item>
        </form>
    </div>
    <div id="forgot-password-form" *ngIf="!isRegister && forgotPwd && !isLogin">
      <form [formGroup]="login_signup_form">
          <ion-item>
            <ion-label floating><ion-icon name="mail"></ion-icon><span class="sign-up-text">Email</span></ion-label>
            <ion-input formControlName="email" [(ngModel)]="userObj.email" type="text"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="login_signup_form.get('email').hasError(validation.type) && (login_signup_form.get('email').dirty || login_signup_form.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
          <ion-item>
           <ion-row>
              <ion-col>
                <button ion-button (click)="forgotPwdSubmit()" full class="signinbtn">
                  Submit
                </button>
              </ion-col>
             </ion-row>
          </ion-item>
        </form>
    </div>





  <div *ngIf="!forgotPwd">
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>
          <ion-item *ngIf="isRegister">
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input formControlName="name" [(ngModel)]="userObj.name" type="text" placeholder="Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input formControlName="email" [(ngModel)]="userObj.email" type="email" placeholder="Email Id">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="key"></ion-icon>
            </ion-label>
            <ion-input minlength="5" formControlName="password" [(ngModel)]="userObj.password" type="password" placeholder="Password">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="authorize()" full class="signinbtn" [disabled]="!loginForm.valid || !userObj.name"
            *ngIf="isRegister">
            Sign Up
          </button>
          <button ion-button (click)="authorize()" full class="signinbtn" [disabled]="!loginForm.valid"
            *ngIf="!isRegister">
            Sign In
          </button>
        </ion-col>
      </ion-row>
    </form>

    <div class="loginRegDiv">
      <div (click)="forgotPwdClicked()" *ngIf="!isRegister" class="loginRegBtn">Forgot Password? </div>
      <div *ngIf="authRes == 'INVALID'" class="authError">Email Already Exits</div>
      <div *ngIf="authRes == 'NOTFOUND'" class="authError">Email Not Found. Please sign up</div>
      <div *ngIf="authRes == 'WC'" class="authError">Invalid Password</div>
      <div *ngIf="authRes == '501'" class="authError">Failed to Authorize. Please try again later</div>
      <span class="loginRegText">
        <span *ngIf="isRegister">Already have an account?</span>
        <span *ngIf="!isRegister">Don't have an account yet?</span>
      </span>
      <a class="loginRegBtn" (click)="isRegister= !isRegister">
        <span *ngIf="isRegister">Sign In</span>
        <span *ngIf="!isRegister">Sign Up</span>
      </a>
    </div>
  </div>

  <div *ngIf="forgotPwd">
    <div class="fgtPwdTxt">Forgot Password</div>
    <form [formGroup]="loginFgtPwdForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input formControlName="email" [(ngModel)]="forgotPwdEmail" type="email" placeholder="Email Id">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button (click)="forgotPwdSubmit()" full class="signinbtn" [disabled]="!loginFgtPwdForm.valid">
            Submit
          </button>
        </ion-col>
      </ion-row>
    </form>

    <div class="loginRegDiv">
      <span class="loginRegText">
        <span></span>
      </span>
      <a class="loginRegBtn" (click)="forgotPwd = false">
        <span>Sign In/Sign Up</span>
      </a>
    </div>
    <div *ngIf="forgotPwdSuccess" class="fgtPwdSuc">An email has been sent to your Email Id. Please check</div>
    <div *ngIf="forgotPwdFailed" class="fgtPwdSuc">Please enter your registered email address.</div>

  </div>
</ion-content>
