<ion-header #filterBand>
  <!--<div class="filterBand"><ion-row>
    <ion-col> <div class="filterBandLeft">Over 200 results</div></ion-col>
    <ion-col>
      <div class="filterBandMiddle">Eng.
        <label class="switch">
          <input type="checkbox" />
            <span class="slider round"></span>
      </label>
      </div>
    </ion-col>
    <ion-col><div class="filterBandRight" (click)="openFilterModal($event)">Filter(5)<ion-icon name="arrow-dropdown"></ion-icon></div></ion-col>
    </ion-row>
  </div> -->
</ion-header>


<ion-content [ngClass]="{'no-scroll': showImgSlide}" hide-content [passContentToHide]="filterBand">
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="!showImgSlide">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div style="position:absolute">
    <!-- <ion-searchbar (ionInput)="filterItems($event)" ></ion-searchbar> -->
    <div class="searchSelected fadeInLeft">
      <div ion-item *ngFor="let book of booksInfo" style="padding-left:0px !important" id="cardDiv">
        <ion-row style="padding-left: 16px;">
          <ion-col col-3 (click)="bookImageClicked(book)">
            <img alt="No Image" [src]="'data:image/jpeg;base64,' + book.bookImages[0].image.data"
              *ngIf="book.bookImages[0]" style="width: 100%;" />
            <img alt="No Image" src="assets/imgs/noimage.jpg" *ngIf="!book.bookImages[0]" style="    width: 100%;" />
          </ion-col>
          <ion-col col-7 style="padding-left: 18px;padding-top: 12px;" (click)="goToDetailsPage(book)">
            <div id="bookname">{{book.name}}</div>
            <div *ngIf="book.author" id="author">by {{book.author}}</div>
            <div *ngIf="!book.author && book.publisher" id="publisher">by {{book.publisher}}</div>
            <div id="price"><i class="fa fa-rupee"></i>{{book.price}}</div>
          </ion-col>
          <ion-col col-1 offset-1 style="padding-top: 13%;" (click)="goToDetailsPage(book)">
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
        <div style="font-size: 15px;color: grey;float:right" (click)="goToDetailsPage(book)">
          <div *ngIf="book.distance" style="font-weight: bold;color: #232f3e;">
            {{book.distance | number : '1.2-2'}} KMS</div>
          <div> {{book.updated_date | daysago}} days ago</div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!showImgSlide">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
  <div *ngIf="showImgSlide" class="imagePopUp">
    <ion-fab class="imgBackFabBtn">
      <button ion-fab mini style="background-color: #488aff73;" (click)="showImgSlide=false">
        <ion-icon ios="ios-arrow-round-back" md="ios-arrow-round-back" style="font-size: 35px;"></ion-icon>
      </button>
    </ion-fab>
    <ion-slides zoom="true" pager="true">
      <ion-slide *ngFor="let photo of clickedBookImg; let id = index">
        <div class="swiper-zoom-container">
          <img alt="No Image" [src]="'data:image/jpeg;base64,' + photo.image.data" />
        </div>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>