<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" id="menuIcon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="changePage(booksinfoPage)">
      <div>
        <img alt="" src="./assets/imgs/logoFinal.png" style="width: 60px;float: left;">
        <div id="apptitle" style="font-size: 14px;font-weight: 400;" *ngIf="pageTitle">
          {{pageTitle}}
        </div>
      </div>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="searchBtnClicked()" *ngIf="showSearchIcon">
        <ion-icon name="search" id="searchIcon"></ion-icon>
      </button>
      <button ion-button (click)="openFilterModal($event)" *ngIf="showFilterIcon">
        <ion-icon name="options" id="filterIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="filterItems($event)" (ionCancel)="this.showSearchBox = false" *ngIf="showSearchBox"
    style="width:70%" #mainSearchbar>
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-nav [root]="rootPage">
  </ion-nav>
</ion-content>