page-home {
#apptitle{
    font-size: 21px;
    letter-spacing: 3px;
    word-spacing: 8px;
    color: #234c80;
    vertical-align: super;
}

#menuIcon{
    font-size:27px;color:#234c80
}

#postIcon{
    font-size: 33px;
    color: #146d90;
}

// .no-scroll .scroll-content{
//     overflow: hidden;
// }
}
