<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" id="menuIcon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="changePage(booksinfoPage)" style="margin-left: 12%;">
      <!-- <div style="display: inline-block;">
        <img alt="" src="./assets/imgs/BMBLogo.png" width="44px">
      </div> -->
      <div style="float: right;margin-top: 10px;padding-left: 10px;padding-right: 60px;">
        <div id="apptitle">BMB</div>
      </div>
      <div id="apptitle" style="font-size: 14px;font-weight: 400;" *ngIf="pageTitle">
        {{pageTitle}}</div>
    </ion-title>
    <ion-buttons right>
      <!-- <button ion-button (click)="changePage(postbookPage)">
          <ion-icon name="add-circle" id="postIcon" ></ion-icon>
      </button> -->
      <!-- <button ion-button (click)="changePage(booksinfoPage);" *ngIf="appTitle != 'BMB'">
          <ion-icon name="home" id="homeIcon" ></ion-icon>
      </button> -->
      <button ion-button (click)="searchClicked();" *ngIf="showSearchIcon">
        <ion-icon name="search" id="searchIcon"></ion-icon>
      </button>
      <button ion-button (click)="openFilterModal($event)" *ngIf="showFilterIcon">
        <ion-icon name="options" id="filterIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="homeSearchBar">
    <ion-searchbar (ionInput)="filterItems($event)" *ngIf="showSearchBox" style="z-index: 99;" #mainSearchbar>
    </ion-searchbar>
  </div>
  <ion-nav [root]="rootPage">
  </ion-nav>
</ion-content>