<ion-header>

  <!-- <ion-navbar *ngIf="shownav">
    <ion-title class="appTitle" *ngIf="!isUpdatePage">Post your book</ion-title>
    <ion-title class="appTitle" *ngIf="isUpdatePage">Update book details</ion-title>
  </ion-navbar> -->
  <!-- <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu" id="menuIcon"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        <span id="apptitle">Post Your Book</span>
      </ion-title>
      <ion-buttons right>
        <button ion-button >
            <ion-icon name="home" id="homeIcon" ></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar> -->
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col>
        <form [formGroup]="postbookForm">
          <ion-item>
            <div class="row">
              <div class="col" style="width: 75%">
                <span style="color: #4856b1;font-family: sans-serif;">Upload max 3 images of books</span>
                <div>
                  <button ion-button full (click)="takePhoto('btnCamera')" [disabled]="photos.length > 2">
                    <ion-icon name="camera"></ion-icon>&nbsp;Take Photo
                  </button>
                  <span style="color: #4856b1;font-family: sans-serif;margin-left: 38%;">Or</span>
                  <button ion-button full (click)="takePhoto('btnGallery')" [disabled]="photos.length > 2">
                    <ion-icon name="gallery"></ion-icon>&nbsp;Upload From Gallery
                  </button>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6 *ngFor="let photo of photos; let id = index">
                        <ion-card class="block">
                          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                          <img [src]="'data:image/jpeg;base64,' + photo" *ngIf="photo" />
                        </ion-card>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div class="col" style="border: 1px solid lightgray; height: 76px; margin-top: 29px;">
                <ion-icon name="barcode" style="font-size: 52px; margin: 5px 0px 0px 5px;" (click)="scanBarCode()">
                </ion-icon>
              </div>
            </div>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Book Name*</ion-label>
            <ion-input formControlName="bookname" [(ngModel)]="bookObj.name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Author</ion-label>
            <ion-input formControlName="author" [(ngModel)]="bookObj.author" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Publisher</ion-label>
            <ion-input formControlName="publisher" [(ngModel)]="bookObj.publisher" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Edition</ion-label>
            <ion-input formControlName="edition" [(ngModel)]="bookObj.edition" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Price*</ion-label>
            <ion-input formControlName="price" [(ngModel)]="bookObj.price" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Description</ion-label>
            <ion-textarea formControlName="description" [(ngModel)]="bookObj.description" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Is Book related to Academic*</ion-label>
            <ion-select formControlName="isAcademic" interface="popover" [(ngModel)]="bookObj.isAcademic"
              (ionChange)="bookObj.bookType = ''">
              <ion-option value="Y">Yes</ion-option>
              <ion-option value="N">No</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>Book Type*</ion-label>
            <ion-select formControlName="bookType" interface="popover" [(ngModel)]="bookObj.bookType"
              disabled="{{!bookObj.isAcademic}}">
              <ion-option value="ALLINONE" *ngIf="bookObj.isAcademic =='Y'">All In One</ion-option>
              <ion-option value="TEXTBOOK" *ngIf="bookObj.isAcademic =='Y'">Text Book</ion-option>
              <ion-option value="NOTEBOOK" *ngIf="bookObj.isAcademic =='Y'">Note Book</ion-option>
              <ion-option value="STUDYMATERIAL" *ngIf="bookObj.isAcademic =='Y'">Study Material</ion-option>
              <ion-option value="NOVEL" *ngIf="bookObj.isAcademic =='N'">Novel</ion-option>
              <ion-option value="AUTOBIOGRAPHY" *ngIf="bookObj.isAcademic =='N'">AutoBiography</ion-option>
              <ion-option value="MAGAZINE" *ngIf="bookObj.isAcademic =='N'">Magazines</ion-option>
              <ion-option value="OTHERS">Others</ion-option>
            </ion-select>
          </ion-item>

          <span *ngIf="bookObj.isAcademic =='Y'">
            <ion-item>
              <ion-label color="primary" floating>Course</ion-label>
              <ion-input formControlName="course" [(ngModel)]="bookObj.course" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" floating>Branch</ion-label>
              <ion-input formControlName="branch" [(ngModel)]="bookObj.branch" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" floating>Year</ion-label>
              <ion-input formControlName="year" [(ngModel)]="bookObj.year" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" floating>Semester</ion-label>
              <ion-input formControlName="sem" [(ngModel)]="bookObj.sem" type="number"></ion-input>
            </ion-item>
          </span>
          <ion-item>
            <ion-label color="primary" floating>Phone Number</ion-label>
            <ion-input formControlName="phoneNo" [(ngModel)]="bookObj.phoneNo" type="number" maxlength="10"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Address</ion-label>
            <ion-input type="text" formControlName="address" (ngModelChange)="updateSearchResults()" [(ngModel)]="bookObj.address"></ion-input>
          </ion-item>
          <ion-list [hidden]="autocompleteItems.length == 0">
                <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
                  {{ item.description }}
               </ion-item>
          </ion-list>
          <ion-item>
            <ion-label color="primary" floating>Landmark</ion-label>
            <ion-input type="text" formControlName="landmark" [(ngModel)]="bookObj.landmark"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Pincode*</ion-label>
            <ion-input formControlName="pincode" [(ngModel)]="bookObj.pincode" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>College</ion-label>
            <ion-input formControlName="college" [(ngModel)]="bookObj.college" type="text"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <button ion-button (click)="submit()" [disabled]="!postbookForm.valid" *ngIf="!isUpdatePage">submit</button>
        <button ion-button (click)="cancel()" *ngIf="isUpdatePage">Cancel</button>
        <button ion-button (click)="update()" [disabled]="!postbookForm.valid" *ngIf="isUpdatePage">Update</button>
        <!-- <button ion-button (click)="submit()" [disabled]="!postbookForm.valid" >submit</button> -->
      </ion-col>
    </ion-row>

  </div>
</ion-content>
