<div>
  <div padding>
    <ion-segment [(ngModel)]="filterObj.isAcademic" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Y">
        Academic
      </ion-segment-button>
      <ion-segment-button value="N">
        Non-Academic
      </ion-segment-button>
      <ion-segment-button value="">
        Both
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="filterObj.isAcademic">
    <ion-list *ngSwitchCase="'Y'">
      <div class="badgesDiv">
        <ion-badge *ngFor="let obj of lookupData?.BOOKTYPES?.ACADEMIC" item-end class="badges"
          [ngClass]="{'badgeselected': filterObj.bookType[obj.key] === true}"
          (click)="bookTypeClicked($event, obj.key)"> {{obj.value}}</ion-badge>
      </div>
      <!-- <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['ALLINONE'] === true}"
            (click)="bookTypeClicked($event, 'ALLINONE')">All
            In Ones</ion-badge>
          <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['TEXTBOOK'] === true}"
            (click)="bookTypeClicked($event, 'TEXTBOOK')">Text
            Books</ion-badge>
          <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['NOTEBOOK'] === true}"
            (click)="bookTypeClicked($event, 'NOTEBOOK')">Note
            Book</ion-badge>
          <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['STUDYMATERIAL'] === true}"
            (click)="bookTypeClicked($event, 'STUDYMATERIAL')">Study Materials</ion-badge> -->
      <ion-card>
        <ion-list>
          <ion-item>
            <ion-label floating>Course</ion-label>
            <ion-select [(ngModel)]="filterObj.course" (ionChange)="courseSelected()" #courseselect cancelText="Clear"
              (ionCancel)="filterObj.course = null">
              <ion-option *ngFor="let obj of lookupData?.BOOKTYPES?.COURSE" [value]="obj.key">
                {{obj.value}}
              </ion-option>
            </ion-select>
            <!-- <ion-input type="text" [(ngModel)]="filterObj.course"></ion-input> -->
            <!-- <ion-select interface="popover" [(ngModel)]="filterObj.course">
                    <ion-option value="BTECH">B.Tech</ion-option>
                    <ion-option value="DEGREE">Degree</ion-option>
                    <ion-option value="BCOM">B.Com</ion-option>

                  </ion-select> -->
          </ion-item>
          <ion-item *ngIf="filterObj.course && lookupData?.subcourse?.length">
            <ion-label floating>Degree</ion-label>
            <ion-select [(ngModel)]="filterObj.subcourse" (ionChange)="degreeSelected()" #degreeselect
              cancelText="Clear" (ionCancel)="filterObj.subcourse = null">
              <ion-option *ngFor="let obj of lookupData?.subcourse" [value]="obj.key">
                {{obj.value}}
              </ion-option>
            </ion-select>
          </ion-item>
          <!-- </ion-list>
          </div>
          <div>
            <ion-list> -->
          <ion-item *ngIf="filterObj.course && lookupData?.branch?.length">
            <ion-label floating>Branch</ion-label>
            <ion-select [(ngModel)]="filterObj.branch" #branchselect cancelText="Clear"
              (ionCancel)="filterObj.branch = null">
              <ion-option *ngFor="let obj of lookupData?.branch" [value]="obj.key">
                {{obj.value}}
              </ion-option>
            </ion-select>
          </ion-item>

          <!-- <ion-item>
                <ion-label floating>Branch</ion-label>
                <ion-input type="text" [(ngModel)]="filterObj.branch"></ion-input>
              </ion-item> -->
          <!-- </ion-list>
          </div>
          <div>
            <ion-list> -->
          <ion-item *ngIf="filterObj.course && lookupData?.year?.length">
            <ion-label floating>Year</ion-label>
            <ion-select [(ngModel)]="filterObj.year" #yearselect cancelText="Clear" (ionCancel)="filterObj.year = null">
              <ion-option *ngFor="let obj of lookupData?.year" [value]="obj">
                {{obj}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="filterObj.course && lookupData?.sem?.length">
            <ion-label floating>Semester</ion-label>
            <ion-select [(ngModel)]="filterObj.sem" #semselect cancelText="Clear" (ionCancel)="filterObj.sem = null">
              <ion-option *ngFor="let obj of lookupData?.sem" [value]="obj">
                {{obj}}
              </ion-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item>
                <ion-label floating>Year</ion-label>
                <ion-input type="text" [(ngModel)]="filterObj.year"></ion-input>
              </ion-item> -->
        </ion-list>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'N'">
      <div class="badgesDiv">
        <ion-badge *ngFor="let obj of lookupData?.BOOKTYPES?.NONACADEMIC" item-end class="badges"
          [ngClass]="{'badgeselected': filterObj.bookType[obj.key] === true}"
          (click)="bookTypeClicked($event, obj.key)"> {{obj.value}}</ion-badge>
      </div>
      <!-- <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['NOVEL'] === true}"
            (click)="bookTypeClicked($event, 'NOVEL')">Novels</ion-badge>
          <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['AUTOBIOGRAPHY'] === true}"
            (click)="bookTypeClicked($event, 'AUTOBIOGRAPHY')">AutoBiography</ion-badge>
          <ion-badge item-end class="badges" [ngClass]="{'badgeselected': filterObj.bookType['MAGAZINE'] === true}"
            (click)="bookTypeClicked($event, 'MAGAZINE')">Magazines</ion-badge> -->
    </ion-list>
  </div>
  <!-- <div style="border: 1px solid black;border: 1px solid #e8e2e2;width: 90%;margin-left: 5%;"></div> -->
  <div>
    <!-- <ion-item>
        <ion-range min="0" max="2000" step="50" snaps="false" dualKnobs="true" pin="true" [(ngModel)]="filterObj.price"
          color="grey">
          <ion-icon range-left small>₹&nbsp;{{filterObj.price.lower}}</ion-icon>
          <ion-icon range-right small>₹&nbsp;{{filterObj.price.upper}}</ion-icon>
        </ion-range>
      </ion-item> -->
    <ion-item style="width: 50%;display: inline-block;" [ngClass]="{'disbleOpacity': filterObj.isFree}">
      <ion-label floating>Min₹</ion-label>
      <ion-input type="number" [(ngModel)]="filterObj.price.lower" [disabled]="filterObj.isFree"></ion-input>
    </ion-item>
    <ion-item style="width: 50%;float: right;" [ngClass]="{'disbleOpacity': filterObj.isFree}">
      <ion-label floating>Max₹</ion-label>
      <ion-input type="number" [(ngModel)]="filterObj.price.upper" [disabled]="filterObj.isFree">
      </ion-input>
    </ion-item>
    <p *ngIf="minmaxError()" style="text-align: center;padding: 0px;margin: 0px;color: red;">Max Price is less than Min
      Price</p>
  </div>

  <div>

    <ion-list style="line-height:10px">
      <!-- <ion-auto-complete [dataProvider]="autoCompleteListService" [(ngModel)]="filterObj.college" [options]="{ placeholder : 'College Name' }"></ion-auto-complete> -->
      <ion-item>
        <ion-label floating>College Name</ion-label>
        <ion-input type="text" [(ngModel)]="filterObj.college" (ngModelChange)="collegeAutoComplete()"></ion-input>
      </ion-item>
      <ion-list [hidden]="collegeAutoCompleteData.length == 0">
        <ion-item *ngFor="let item of collegeAutoCompleteData" tappable
          (click)="collegeAutoCompleteSelected(item.college)">
          {{ item.college }}
        </ion-item>
      </ion-list>
      <!-- <ion-item>
          <ion-label floating>Area</ion-label>
          <ion-input type="text" [(ngModel)]="filterObj.address"></ion-input>
        </ion-item> -->
      <ion-item>
        <ion-label floating>Area</ion-label>
        <ion-input type="text" (ngModelChange)="updateSearchResults()" [(ngModel)]="filterObj.address"></ion-input>
      </ion-item>
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.address }}
        </ion-item>
      </ion-list>
    </ion-list>
    <!-- <ion-searchbar #searchbar></ion-searchbar> -->
  </div>
  <div class="filterfooter" style="float:right; padding: 20px 5px 35px 0px;">
    <button ion-button round (click)="resetFilters()">Clear Filters</button>
    <button ion-button round (click)="applyFilters()" [disabled]="minmaxError()">Apply
      Filters</button>
  </div>
</div>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script> -->
