
filter-books {
    .badges {
        background-color: rgba(237, 234, 234, 0.49019607843137253) !important;
        color: #796464;
        padding: 3%;
        margin: 2%;
        border-radius: 19px;
        -webkit-box-shadow: 0px 1px 0px 0px #acacac;
        box-shadow: 0px 1px 0px 0px #d5ccccd9;
        font-size: 12px;
        cursor: pointer;
    }

    .badgeselected {
        background-color: rgb(104, 159, 255) !important;
        color: white;
    }

    .label-md {
        margin: 0px 163px 0px 0px;
        font-size: 18px;
        color: #234b7f;
        font-family: serif;
    }

    .md.range-has-pin {
        padding-top: 0px;
    }

    .range-md.range-has-pin {
        padding-top: 0px;
    }

    .range-md [range-left] {
        margin: 0 12px 0 0 !important;
        font-size: 15px;
        line-height: 2;
    }

    .range-md [range-right] {
        margin: 0 0 0 12px;
        font-size: 15px;
        line-height: 2;
    }

    ion-label {
        overflow: visible;
    }

    .segment-button {
        overflow: visible;
    }

    .badgesDiv {
      margin-left: 10%;
    }
}

/* Popover CSS outside filter books*/

   .contact-popover{
      ion-backdrop
        {
          opacity:0.3;
        }
    }
   .contact-popover .popover-content {

        top: 14.5% !important;
        left: 8% !important;
        width: 92%;
    }

    .contact-popover .popover-arrow {
        top: 13% !important;
        left: 87% !important;
        position: absolute;
        display: block;
        overflow: hidden;
        width: 7%;
        height: 1.7%;
    }

    .contact-popover  .popover-arrow::after {
        left: 10%;
        top: 34%;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        width: 14px;
        height: 14px;
        background-color: #fff;
        content: "";
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
