// page-login {
//     .sample-modal-page {
//         padding: 30px;
//         background: rgba(0,0,0,0.5);
//     }
// }
filter-books{
    .popover-content{
        top: 9% !important;
        }
        // .popover-arrow {
        //     top: 38.5px !important;
        //     left: 287.734px !important;
        // }
        .badges{
            // background-color: #edeaea;
            // color: #5f5858;
            // padding: 12px;
            // margin: 6px;
            // border-radius: 19px;
            // -webkit-box-shadow: 0px 1px 0px 0px #acacac;
            // box-shadow: 0px 1px 0px 0px #acacac;
            // font-size: 12px;
            // background-color: #edeaea;
            // color: #5f5858;
            // padding: 3%;
            // margin: 2%;
            // border-radius: 19px;
            // -webkit-box-shadow: 0px 1px 0px 0px #acacac;
            // box-shadow: 0px 1px 0px 0px #acacac;
            // font-size: 12px;
            // background-color: #edeaea7d !important;
            background-color: rgba(237, 234, 234, 0.49019607843137253) !important;
            color: #796464;
            padding: 3%;
            margin: 2%;
            border-radius: 19px;
            -webkit-box-shadow: 0px 1px 0px 0px #acacac;
            box-shadow: 0px 1px 0px 0px #d5ccccd9;
            font-size: 12px;
            cursor:pointer;
        }

        .badgeselected {
            background-color: rgb(104, 159, 255) !important;
            color: white;
        }

        // .badge-md{
        //     background-color: rgba(237, 234, 234, 0.49019607843137253) !important;
        // }
        .label-md {
            margin: 0px 163px 0px 0px;
            font-size: 18px;
            color: #234b7f;
            font-family: serif;
        }
        .md.range-has-pin {
            padding-top: 0px;
        }
        .range-md.range-has-pin {
            padding-top: 0px;
        }
        .range-md [range-left]  {
            margin: 0 12px 0 0 !important;
            font-size: 15px;
            line-height: 2;
        }
        .range-md [range-right]  {
            margin: 0 0 0 12px;
            font-size: 15px;
            line-height: 2;
        }
       
}
