page-bookdetails {
    ion-slides {
        height: 86%;
    }

    #bookinfoDetails .row {
        border-bottom: #eae1e1 1px solid;
        padding: 9px;
    }

    #sellerinfoDetails .row {
        border-bottom: #eae1e1 1px solid;
        padding: 9px;
    }

    #sellerinfoDetails ion-icon {
        display: inline-block;
        font-size: 1.5em;
    }

    .swiper-container {
        margin-top: 30px;
    }

    .segment-md .segment-button {
        padding: 0 6px;
        font-size: initial;
        letter-spacing: 1px;
        font-family: serif;
        text-transform: none;
    }
    .slideBookImages{
       height: 120px;
       width: 95px;
    }
    .book-name {
       font-size: 16px;
       color: #444;
       margin-left:3%;
       margin-top: 4%;
       line-height: 1.2em;
       font-weight:500;
    }
    .book-author {
      font-size: 14px;
      color: #3a8bbb;
      margin-left:3%;
      margin-top: 2%;
      font-weight: 500;
    }
   .a-price-symbol{
      font-size: 12px;
      color:#B12704;
   }
   .a-price-whole{
    font-size: 21px;
    color:#B12704;
    line-height: 2.2em;
    font-weight: 500;
   }
   .a-price-text{
     margin-left: 7%;
     font-size: 16px;
     color: #444;
     line-height: 1.2em;
     font-weight: 500;
   }
   .book-posted-on {
    font-size: 13px;
    margin-left: 56%;
    padding: 7px;
   }
    .book-info-div-card {
      border-top:1px solid #dedede;
      border-bottom:3px solid #dedede;
    }
    .book-info-div-card-content{
      padding: 4%;
    }
    .book-info-grid{
      margin-top: 5%;
      border-top: 0.4px solid #dedede;
    }
    .book-info-grid-header{
      background-color: #eff1f3;
      border-bottom: 0.4px solid #dedede;
      padding: 4%;
    }
    .book-info-grid-content{
      border-bottom: 0.4px solid #dedede;
      padding: 4%;
    }
    ion-col.my-thin-col {
      flex: 0.4 0 0px;
    }
    .buy-book{
       height: 70px;
    }
  .btn-buy {
    background-image: linear-gradient(to right, rgb(34, 212, 198) 0%, rgb(97, 224, 161) 51%, rgb(14, 199, 134) 100%);
    border-radius: 5px;
    width: 92%;
    margin-left: 4%;
    text-transform: none;
    }
  .btn-buy:hover { background-position: right center; }
  .show-buy-options{
     position: fixed;
     top: 90%;
  }

.fragment {
    font-size: 12px;
    font-family: tahoma;
    height: 140px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    background-color: #fff;
}


.closeButton {
    position: absolute;
    top: -18px;
    right: 1px;
}

}
