page-myposts {
    .appTitle .toolbar-title-md  {
        color: #3949AB !important;
        font-size: 22px !important;
        text-align: center !important;
        letter-spacing: 3px !important;
        word-spacing: 1px !important;
        font-family: sans-serif !important;
    }    
}
