page-sidenav {

  .app-applications {
    border-top: 1px solid lightgray;
    margin-top: 4%;
  }

 .app-text {
    padding: 18px 0px 4px 19px;
    color: #444;
    font-size: 15px;
    font-weight: 500;
  }

  #menu-material {
    .side-nav-icon {
       color: #4e8eb5;
       font-size: 17px;
       margin-left: 7%;
       line-height: 20px;
    }
    .side-nav-icon-text{
        color: #444;
        margin: 15px;
        font-family: serif;
        font-size: 16px;
    }
    .side-nav-welcome-text{
       color: #555;
       margin-left: 3%;
    }
    .profile-email{
      color: #3a8bbb;
      font-size: 10px;
    }
    .profile-name{
      font-size: 18px;
      margin-top: 3px;
    }
    .profile-settings{
       float: right;
       margin-top: 12%;
    }
  }
}
