<ion-menu side="left" [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <span> Hello {{userObj.name}} </span>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="changePage(loginPage)" *ngIf="!userObj.email">
                  Login
            </button>
            <div *ngIf="userObj.email">
                <button ion-item menuClose (click)="changePage(mypostsPage)">My Posts </button>
                <button ion-item menuClose (click)="logout()">Logout </button>
            </div>

            <!-- <button ion-button block (click)="GetAllUser();"> Listar Usuarios</button>
                
                  <pre>{{err | json}}</pre> -->
            <div class="filterOptions">
                <ion-item>
                    <ion-label>All in ones</ion-label>
                    <ion-checkbox color="dark" checked="true"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-range min="0" max="2000" [(ngModel)]="saturation" color="secondary">
                        <ion-label range-left>Price: 0</ion-label>
                        <ion-label range-right>2000</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item>
                    <ion-label color="primary">Posted days before</ion-label>
                    <ion-input placeholder="days"></ion-input>
                </ion-item>
                <div>
                    <ion-row>
                        <ion-col>
                            <ion-label>Academic</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-radio value="academic" name="academic" checked></ion-radio>
                        </ion-col>
                        <ion-col>
                            <ion-label>Non Academic</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-radio value="nonacademic" name="academic"></ion-radio>
                        </ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row>
                        <ion-col>
                            <ion-label color="primary">Book Edition:</ion-label>
                        </ion-col>
                        <ion-col style="padding-left: 0px">
                            <ion-input placeholder="edition"></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-label color="primary">Author:</ion-label>
                        </ion-col>
                        <ion-col style="padding-left: 0px">
                            <ion-input placeholder="author"></ion-input>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-item>
                    <ion-label color="primary" floating>Language</ion-label>
                    <ion-select>
                        <ion-option value="english">English</ion-option>
                        <ion-option value="telugu">Telugu</ion-option>
                        <ion-option value="hindhi">Hindi</ion-option>
                    </ion-select>
                    <ion-item>
                        <ion-label color="primary">Area:</ion-label>
                        <ion-input placeholder="area"></ion-input>
                        <ion-label color="primary">College:</ion-label>
                        <ion-input placeholder="college"></ion-input>
                    </ion-item>
                </ion-item>
            </div>
        </ion-list>



    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>